@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scrolly {
    scrollbar-color: red orange;
    scrollbar-width: 1em;
  }
  .scrollbar::-webkit-scrollbar {
    width: 0.2em;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #1c00ff00;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #342503;
    transition: width 0.3s;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .scrollbar-home::-webkit-scrollbar {
    width: 0.5em;
  }
  .scrollbar-home::-webkit-scrollbar-track {
    background: #1c00ff00;
  }
  .scrollbar-home::-webkit-scrollbar-thumb {
    background: #1c00ff00;
    transition: width 0.3s;
  }
  .scrollbar-home::-webkit-scrollbar-thumb:hover {
    background: #191919;
  }

  .mapNav {
    transition: ease-in-out;
    visibility: visible;
    animation: showMapNav 0.3s linear;
  }
  @keyframes showMapNav {
    0%,
    100% {
      visibility: hidden;
    }
  }
}
