@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .mapNav {
    transition: ease-in-out;
    visibility: visible;
    animation: showMapNav 0.3s linear;
  }
  @keyframes showMapNav {
    0%,100% {
      visibility: hidden;
    }
  }
}
